# Database password
vuur_db_pass=WWWWW

# PostgreSQL
POSTGRES_CONNECTION_STRING=Host=localhost;Port=5432;Database=Vuur;Username=postgres;Password=WWWWW

# MongoDB
MONGO_CONNECTION_STRING=mongodb://mongo:WWWWW@localhost:27017/vuur_db?authSource=admin

# Redis
REDIS_CONNECTION_STRING=localhost:6379,password=WWWWW
